@model GiftOfTheGivers_ST10239864.Models.Donation

<h2 class="text-orange">Donation Details</h2>

<div class="card program-card mt-3">
    <div class="card-body">
        <h4>@Model.Type</h4>
        <p><strong>Donor:</strong> @Model.DonorName</p>
        <p><strong>Quantity:</strong> @Model.Quantity</p>
        <p><strong>Date:</strong> @Model.DateDonated.ToShortDateString()</p>
    </div>
</div>

<a asp-action="Index" class="btn btn-deepgreen mt-3">Back to List</a>
